<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.finalm"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões do seu aplicativo -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissões necessárias para o SDK da Stone -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:label="Dnotas"
        tools:replace="android:label"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Atividades do seu aplicativo -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="dnotas" android:host="dnotas.com" />
            </intent-filter>
        </activity>

        <!-- Metadados necessários para o Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Atividades do SDK da Stone -->
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.MifareActivity"
            android:label="Mifare" />
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.DevicesActivity"
            android:label="@string/title_activity_devices" />
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.TransactionActivity"
            android:label="@string/title_activity_transaction" />
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.TransactionListActivity"
            android:label="@string/title_activity_transaction_list" />
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.DisconnectPinpadActivity"
            android:label="@string/title_activity_disconnect_pinpad"
            android:theme="@style/AppThemeWithoutBar" />
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.ValidationActivity"
            android:label="@string/title_activity_validation"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.PosTransactionActivity"
            android:label="@string/title_activity_transaction" />
        <activity
            android:name="br.com.stonesdk.sdkdemo.activities.ManageStoneCodeActivity"
            android:label="@string/title_activity_manage_stone_codes" />
    </application>
</manifest>
